@model IEnumerable<QLKS.Models.tblPhong>

@{
    ViewBag.Title = "Danh sách phòng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12" style="background-color: #b1c3f0;">
    <div style="margin-left: 10px; font-size: 18px;">Tình trạng tất cả các phòng</div>
</div>

@if (Session["NV"] != null && ((QLKS.Models.tblNhanVien)Session["NV"]).ma_chuc_vu < 3)
{
    <div style="margin: 15px;">
        <h5>Số phòng đang được sử dụng: @ViewBag.soPhongDangsd phòng</h5>
        <h5>Số phòng đang trống: @ViewBag.soPhongTrong phòng</h5>
    </div>
}

<div>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th style="text-align: center; width: 50px;">STT</th>
                <th style="text-align: center; width: 50px;">Số giường</th>
                <th style="text-align: center; width: 50px;">Tên phòng</th>
                <th style="text-align: center; width: 50px;">Vị trí phòng</th>
                <th style="text-align: center; width: 50px;">Mô tả</th>
                <th style="text-align: center; width: 50px;">Tình trạng phòng</th>
            </tr>
        </thead>
                
        <tbody>
            @{ 
                int stt = 0;
            }

            @foreach (var item in Model)
            {
                if (Session["NV"] != null && ((QLKS.Models.tblNhanVien)Session["NV"]).ma_chuc_vu == 3)
                {
                    if (item.tblTinhTrangPhong.ma_tinh_trang == 1)
                    {
                        stt++;

                        <tr>
                            <td style="text-align: center;">@stt</td>
                            <td style="text-align: center;">@item.tblLoaiPhong.mo_ta</td>
                            <td style="text-align: center;">@item.so_phong</td>
                            <td style="text-align: center;">@item.tblTang.ten_tang</td>

                            <td style="text-align: center;">
                                <img src="@item.tblLoaiPhong.anh" width="80px" height="50px" />
                            </td>
                        
                            <td style="text-align: center;">
                                <div>@item.tblTinhTrangPhong.mo_ta</div>
                            </td>
                        </tr>
                    }
                }

                else if (Session["NV"] != null && ((QLKS.Models.tblNhanVien)Session["NV"]).ma_chuc_vu < 3)
                {
                    stt++;

                    <tr>
                        <td style="text-align: center;">@stt</td>

                        <td style="text-align: center;">@item.tblLoaiPhong.mo_ta</td>

                        <td style="text-align: center;">@item.so_phong</td>

                        <td style="text-align: center;">@item.tblTang.ten_tang</td>

                        <td style="text-align: center;">
                            <img src="@item.tblLoaiPhong.anh" width="80px" height="50px" />
                        </td>

                        <td style="text-align: center;">
                            <div>@item.tblTinhTrangPhong.mo_ta</div>
                        </td>
                        
                    </tr>
                }
            }
        </tbody>

    </table>

</div>
