@model QLKS.Models.tblDichVu

@{
    ViewBag.Title = "Chỉnh sửa dịch vụ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-md-12" style="background-color: #b1c3f0;">
    <div>Chỉnh sửa dịch vụ</div>
</div>


<div style="margin-top: 20px; background-color: #d3e6f0;" class="col-md-8">

    @using (Html.BeginForm("Edit", "DichVu", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ma_dv)

            <div class="form-group">
                @Html.Label("Thông tin dịch vụ", htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight: bold;" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ten_dv, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ten_dv, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Đơn giá", htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight: bold;" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.gia, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                    @Html.ValidationMessageFor(model => model.gia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Đơn vị tính", htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight: bold;" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.don_vi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.don_vi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Đang phục vụ", htmlAttributes: new { @class = "control-label col-md-2", style="font-weight: bold;" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ton_kho, new { htmlAttributes = new { @class = "form-control", type = "number", max = "50" } })
                    @Html.ValidationMessageFor(model => model.ton_kho, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Mô tả", htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight: bold;" })

                <div class="col-md-6">
                    <input type="file" name="file" id="file" class="form-control" style="width: 100%;" />
                </div>

                <div class="col-md-4">
                    <img src="@Model.anh" width="200px" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" onclick="return checkInfo()" value="Lưu" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
<script>
    function checkInfo() {
        var ten = $('#ten_dv').val();
        var gia = $('#gia').val();
        var soluong = $('#ton_kho').val();
        var donvi = $('#don_vi').val();
        
        if (ten == '') {
            alert('Thông tin dịch vụ không được để trống !');
            return false;
        }
        if (gia == '') {
            alert('Đơn giá không được để trống !');
            return false;
        if (donvi == '') {
            alert('Đơn vị tính không được để trống !');
            return false;
        }
        if (soluong == '') {
            alert('Đang phục vụ không được để trống !');
            return false;
        }
        return true;
    }
</script>
