@model IEnumerable<QLKS.Models.tblDichVu>

@{
    ViewBag.Title = "Danh sách dịch vụ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12" style="background-color: #b1c3f0;">
    <div>Danh sách dịch vụ</div>
</div>

<div style="margin: 5px;">
    @using (Html.BeginForm("Index", "DichVu", FormMethod.Get))
            {
                @Html.TextBox("searching")<input type="submit" value="Search" class="btn btn-primary"/>
            }
</div>

<!--<div>
    @Html.ActionLink("Thêm dịch vụ", "Create",
    new { style = "color: black; border: 1px solid; background-color: #7daff0; font-weight: bold;" })
</div>-->

<div>
    <div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                           Tên món
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            Mô tả
                        </th>
                        <th>
                            Số lượng trong bếp
                        </th>
                        <th>
                            Thao tác
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @{ 
                        int stt = 0;
                    }

                    @foreach (var item in Model)
                    {
                        stt++;
                        
                            <tr>
                                <td>
                                    @stt
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ten_dv)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.gia)
                                </td>
                                <td>
                                    <img src="@Html.DisplayFor(modelItem => item.anh)" width="50px" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.ton_kho)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa món ăn", "Edit", new { @id=item.ma_dv },
                                    new { style = "color: black; border: 1px solid; background-color: #7daff0;" })
                                </td>
                            </tr>
                        
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>