@model IEnumerable<QLKS.Models.tblHoaDon>

@{
    ViewBag.Title = "Danh sách hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12" style="background-color: #b1c3f0;">
    <div>Danh sách toàn bộ hóa đơn</div>
</div>

<div>
    @using (Html.BeginForm("Index", "HoaDon", FormMethod.Post))
    {
        <div style="background-color: #bad0f5; ">

            <h3>Tổng hợp doanh thu</h3>

            <div class="col-md-3">
                <label for="ngay_bat_dau" style="font-weight: bold;">Từ ngày</label>
                @Html.TextBox("ngay_vao", null, new { @type="date", @class="form-control" })
            </div>

            <div class="col-md-3">
                <label for="ngay_ket_thuc" style="font-weight: bold;">Đến ngày</label>
                @Html.TextBox("ngay_ket_thuc", null, new { @type="date", @class = "form-control" })
            </div>

            <div class="col-md-6" style="margin: 5px;">
                <input type="submit" 
                       onclick="return checkTimHD();" 
                       class="btn btn-primary" 
                       value="Search"/>
            </div>
        </div>
    }
</div>


<div class="col-md-12">

    <div>

        <h5 style="font-weight: bold;">Tổng doanh thu cả hệ thống: @ViewBag.tongAllHoaDon </h5>

        <table class="table table-bordered">

            <thead>

                <tr>
                    <th style="text-align: center;">
                        STT
                    </th>
                    <th style="text-align: center;">
                        Khách thuê phòng
                    </th>
                    <th style="text-align: center;">
                        Thời gian nhận phòng
                    </th>
                    <th style="text-align: center;">
                        Thời gian trả phòng
                    </th>
                    <th style="text-align: center;">
                        Thời gian thanh toán hóa đơn
                    </th>
                    <th style="text-align: center;">
                        Tổng hóa đơn
                    </th>
                </tr>
            </thead>

            <tbody>

                @{ 
                    int stt = 0;
                }

                @foreach (var item in Model)
                {
                    stt++;

                    <tr>
                        <td style="text-align: center;">
                            @stt
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(Item => item.tblPhieuDatPhong.tblKhachHang.ho_ten)
                        </td >
                        <td style="text-align: center;">
                            @Html.DisplayFor(Item => item.tblPhieuDatPhong.ngay_vao)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(Item => item.tblPhieuDatPhong.ngay_ra)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(Item => item.ngay_tra_phong)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(Item => item.tong_tien)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function checkTimHD() {
        var ngay_vao = $("#ngay_vao").val().split("/");
        var dateS = new Date(ngay_vao[2], ngay_vao[1] - 1, ngay_vao[0]);

        var ngay_ket_thuc = $("#ngay_ket_thuc").val().split("/");
        var dateE = new Date(ngay_ket_thuc[2], ngay_ket_thuc[1] - 1, ngay_ket_thuc[0]);

        if (ngay_vao == "" || ngay_ket_thuc == "") {
            return false;
        }
        if (dateE <= dateS) {
            return false;
        }
        return true;
        
    }
</script>

