@model QLKS.Models.tblHoaDon

@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12" style="background-color: #b1c3f0;">
    <div>Thanh toán hóa đơn</div>
</div>

@using (Html.BeginForm("XacNhanThanhToan", "HoaDon"))
{
    @Html.AntiForgeryToken()
        
        <div>
            <div class="col-md-12">

                <div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.ma_hd)
                    @Html.Hidden("tien_phong", (Double)ViewBag.tien_phong)
                    @Html.Hidden("tien_dich_vu", (Double)ViewBag.tien_dich_vu)

                    @try
                    {
                        @Html.Hidden("phu_thu", (Double)ViewBag.phu_thu)
                        @Html.Hidden("tong_tien", (Double)ViewBag.tong_tien)
                    }
                    catch
                    {
                    }

                    <table class="table table-bordered">
                            
                        <tr>
                            <th>Họ tên khách hàng</th>

                            <th>Tên phòng</th>

                            <th>Thời gian nhận phòng</th>

                            <th>Thời gian trả phòng</th>

                            <th>Thời gian thanh toán hóa đơn</th>

                            <th>Đơn giá</th>

                            <th>Số ngày ở</th>

                            <th>Thành tiền</th>

                            <th>Số ngày chễ hạn</th>

                            <th>Phụ thu</th>

                            <th>Tổng cộng</th>
                        </tr>

                        <tr>
                            <td>@Model.tblPhieuDatPhong.tblKhachHang.ho_ten</td>

                            <td>@Model.tblPhieuDatPhong.tblPhong.so_phong</td>

                            <td>@Model.tblPhieuDatPhong.ngay_vao</td>

                            <td>@Model.tblPhieuDatPhong.ngay_ra</td>

                            <td>@DateTime.Now</td>

                            <td>@Model.tblPhieuDatPhong.tblPhong.tblLoaiPhong.gia</td>

                            <td>@ViewBag.so_ngay</td>

                            <td>@ViewBag.tien_phong</td>

                            <td>@ViewBag.so_ngay_phu_thu</td>

                            <td>@Model.tblPhieuDatPhong.tblPhong.tblLoaiPhong.ti_le_phu_thu</td>

                            <td>@ViewBag.tong_tien</td>
                        <tr>

                                
                    </table>
                </div>
            </div>

                <div class="col-md-12">

                        <div class="col-md-12" style="background-color: #b1c3f0;">
                            <div>Món ăn đã gọi</div>
                        </div>

                        <div>
                            <table class="table table-bordered">
                                <tr>
                                    <th>STT</th>
                                    <th>
                                        Tên món ăn
                                    </th>
                                    <th>
                                        Giá
                                    </th>
                                        
                                    <th>
                                        Số lượng
                                    </th>
                                    <th>
                                        Tổng tiền
                                    </th>
                                </tr>
                                @{
                                    List<QLKS.Models.tblDichVuDaDat> ds = (List<QLKS.Models.tblDichVuDaDat>)ViewBag.list_dv;
                                    List<double> tt = (List<double>)ViewBag.list_tt;
                                    int stt = 0;
                                    for (int i = 0; i < ds.Count; i++)
                                    {
                                        stt++;
                                        <tr>
                                            <td>
                                                @stt
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => ds[i].tblDichVu.ten_dv)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => ds[i].tblDichVu.gia)
                                            </td>
                                                
                                            <td>
                                                @Html.DisplayFor(modelItem => ds[i].so_luong)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => tt[i])
                                            </td>
                                        </tr>
                                    }
                                }
                                
                            </table>
                        </div>
                    </div>
                </div>
                    


            <div class="form-group">
                @Html.Label("Tổng tiền", htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-6">
                    @Html.TextBox("tong_tien", ((Double)ViewBag.tong_tien).ToString("C"), new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>


    if (Model.ma_tinh_trang == 1)
    {
        <input type="submit" value="Khách hàng trả phòng" class="btn-lg" />
    }
}




