<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Home/css/animate.css">
    <link rel="stylesheet" href="~/Content/Home/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/Home/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/Home/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Home/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Home/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.theme.default.min.css">
    <link href="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Home/css/style.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/Content/Home/js/modernizr-2.6.2.min.js"></script>

   <style>
       a:hover {
           background-color: #032f73;
       }
   </style>

</head>

<body>

    <header>
        <div class="col-md-12" style="background-image: url('/Content/Home/images/Index/index_template_9.jpg'); ">

            <div style="height: 30px; margin-top: 25px;">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Content/Home/images/Logo/index_logo_1.png" style="width: 180px;" />
                </a>
            </div>

            <div class="col-md-4" style="margin-left: 65%; margin-bottom: 30px;">

                <div style="text-align: center; font-size: 30px;">
                    <h2 style="padding-top: 10px; color: whitesmoke;">KÍNH CHÀO QUÝ KHÁCH</h2>
                    <a style="color: whitesmoke" class="nav-link" href="@Url.Action("Index", "Home")">LÊ AN HOSPITALITY</a>
                    <div style="color: whitesmoke">
                        1900 1833
                    </div>
                </div>

                @{ if (Session["KH"] != null)
                    {

                        QLKS.Models.tblKhachHang kh = (QLKS.Models.tblKhachHang)Session["KH"];

                        <div style="text-align: center">
                            <div style="margin-left: 30px; font-size: 20px; color: whitesmoke"
                                    href="#">Khách hàng: @kh.ho_ten</div>
                            </div> 
                    } 
                }

            </div>

            <div>
                <div class="col-md-12" style="margin-bottom: 20px;">

                        <a style="margin-left: 30px; font-size: 20px; color: whitesmoke"
                            href="@Url.Action("Index", "Home")">Tìm phòng trống
                        </a>

                        <a style="margin-left: 30px; font-size: 20px; color: whitesmoke"
                            href="@Url.Action("About", "Home")">Về chúng tôi
                        </a>

                        <a style="margin-left: 30px; font-size: 20px; color: whitesmoke" id="conTact"
                            href="@Url.Action("Contact", "Home")">Liên lạc
                        </a>

                        <a style="margin-left: 30px; font-size: 20px; color: whitesmoke"
                            href="@Url.Action("GioiThieuDichVu", "Home")">Danh sách phòng
                        </a>

                    @{ if (Session["KH"] != null)
                        {
                            QLKS.Models.tblKhachHang kh = (QLKS.Models.tblKhachHang)Session["KH"];

                            <span style="margin-left: 40%">

                                <a style="margin-left: 30px; font-size: 20px; color: whitesmoke"
                                    href="@Url.Action("DoiMatKhau", "Customer")">Đổi mật khẩu
                                </a>

                                <!--<a style="margin-left: 30px; font-size: 20px; color: whitesmoke"
                                    href="@Url.Action("DanhSachDonDatPhong", "Home")">Hủy đơn đặt phòng
                                </a>-->

                                <a style="margin-left: 30px; font-size: 20px; color: whitesmoke"
                                    onclick="return confirm('Quý khách muốn đăng xuất?');"
                                    href="@Url.Action("DangXuat", "Customer")">Đăng xuất
                                </a>

                            </span> 
                    }
                    else
                    {
                        <a style="margin-left: 30px; font-size: 20px; color: whitesmoke"
                            href="@Url.Action("DangNhap", "Customer")">Đăng nhập
                        </a>

                        <a style="margin-left: 30px; font-size: 20px; color: whitesmoke"
                            href="@Url.Action("DangKyTaiKhoan", "Customer")">Đăng ký tài khoản
                        </a> 
                    } 
                }

            </div>
        </div>
    </div>
</header>

            @RenderBody()

<footer>
    <div class="col-md-12" style="height: 400px; background-color: #e1f0e7; margin-bottom: 12px;">

        <div class="col-md-4">
            <img src="/Content/Home/images/Index/giaodien8.jpg" width="600px;" />
        </div>

        <div class="col-md-8">
            <h3 style="margin: 15px;">
                Đây là bước triển khai đầu tiên của Chuỗi nhà nghỉ, khách sạn Lê An trong tiến trình phát triển tối ưu dòng
                sản phẩm "Tổ hợp giải trí, du lịch và nghỉ dưỡng sinh thái" tại các điểm đến tiềm năng - mang thương hiệu
                " Lê An Green Land".
            </h3>

            <p>
                Tọa lạc tại xóm Đồng Nôn, xã Diễn Lâm, huyện Diễn Châu, tỉnh Nghệ An, cách TP.Vinh 60km và cách thủ đô Hà Nội khoảng
                240km chạy xe dọc theo hai tuyến Quốc lộ 1A và Quốc lộ 48, Lê An GreenLand Diễn Lâm được xây dựng và phát triển với 8
                dịch vụ độc đáo: Thăm quan khám phá thiện nhân hoang dã(Vườn thú hoang dã, Safari, Vườn thú cưng...), 
                Du lịch thể thao, giải trí(Công viên nước, Công viên giải trí, Sân golf, Sân tennis...), Du lịch nghỉ dưỡng trị liệu
                (Tắm bùn khoáng nóng, Spa, Foot Massage...), Trải nghiệm ẩm thực(Nhà hàng Âu Á, Phố Ẩm thực...), Trải nghiệm văn hóa 
                (Trải nghiệm làm nông nghiệp, làng nghề) và Khu đền đài vãn cảnh tâm linh.

                Bên cạnh đó, nằm trong quần thể khu nghỉ dưỡng Lê An GreenLand Diễn Lâm, khách sạn Lê An đạt tiêu chuẩn 2 sao với 18 phòng
                Luxury, cùng các căn biệt thự duyên dáng bên hồ, tạo nên điểm nhấn hài hòa giữa đường nét kiến trúc hiện đại kết nối với
                không gian thiên nhiên, mang đến cho du khách một kỳ nghỉ thực sự tiện nghi và cảm xúc.
            </p>
        </div>

    </div>

        <div class="col-md-12" style="background-color: #cce0d4;">

            <div class="col-md-4">
                <img src="/Content/Home/images/Index/giaodien1.jpg" width="500px;" />
                <div>
                    <h4 style="margin: 5px;">TIN TỨC KHUYẾN MÃI</h4>
                </div>
                <p style="width: 500px;">
                    Khuyến mãi 10% nhân dịp Hà Nội ngừng áp dụng chỉ thị 16.
                    Thời hạn từ 01/11/2021 - 14/11/2021. Lê An xin rất tự hào là điểm dừng chân của quý khách!
                </p>
            </div>


            <div class="col-md-4">
                <img src="/Content/Home/images/Index/giaodien2.jpg" style="width: 500px;" />
                <div>
                    <h4 style="margin: 5px;">BỎ TÚI 10 ĐIỂM DU LỊCH SIÊU HOT</h4>
                </div>
                <p style="width: 500px;">
                    Lê An tổng hợp những địa điểm hấp dẫn khách hàng không thể bỏ qua, rất phù hợp với gia đình 3 người
                    trở lên.
                </p>
            </div>

            <div class="col-md-4">
                <img src="/Content/Home/images/Index/giaodien8.jpg" style="width: 500px;" />
                <div>
                    <h4 style="margin: 5px;">THÀNH PHỐ XANH ĐANG LÀ DỰ ÁN TRỌNG ĐIỂM</h4>
                </div>
                <p style="width: 500px;">
                    Chúng tôi đang bắt kịp xu thế sống xanh, với tham vọng đưa hệ thống nhà nghỉ, khách sạn lên vào hệ thống
                    xanh. Nói không với ô nhiễm môi trường.
                </p>
            </div>

        </div>


        <div class="col-md-12" style="text-align: center; background-color: #dae4ed;">
            <p>
                <div>&copy;Lê An Hotel 2021</div>
            </p>
        </div>
</footer>

<script src="~/Content/Home/js/jquery.min.js"></script>
<script src="~/Content/Home/js/jquery.easing.1.3.js"></script>
<script src="~/Content/Home/js/bootstrap.min.js"></script>
<script src="~/Content/Home/js/jquery.waypoints.min.js"></script>
<script src="~/Content/Home/js/owl.carousel.min.js"></script>
<script src="~/Content/Home/js/jquery.countTo.js"></script>
<script src="~/Content/Home/js/jquery.stellar.min.js"></script>
<script src="~/Content/Home/js/jquery.magnific-popup.min.js"></script>
<script src="~/Content/Home/js/magnific-popup-options.js"></script>
<script src="~/Content/Home/js/moment.min.js"></script>
<script src="~/Content/Home/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/Home/js/main.js"></script>

</body>

</html>